﻿@model IEnumerable<WebApplication1.Models.News>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    //<p>@item.Title</p>
    <p>
        <a href="@Url.Action("Details", "Home", new {id=item.Id })">@item.Title</a>
    </p>
}