﻿
@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div>
        <p style="color:red">@ViewBag.Message</p>
    </div>
}
<form action="/Home/Login" method="post">
    Email:<input type="text" name="email" value="" />
    密碼:<input type="password" name="password" value="" />
    <input type="submit" name="submit" value="送出" />
</form>

